@import "variables";

.colorMenuFooter{
    border-top:4px solid rgba(255, 255, 255, 0.62);
    //background-color: rgba(213, 212, 212, 0.658);
    background-image: linear-gradient(rgba(213, 212, 212, 0.658), rgba(47, 51, 50, 0.64));
    //background-image: url("../pictures/footer_nature.jpg");
    //background-size: cover;
    //opacity: 0.9;
    //background-repeat: repeat;
}
.socialNetworks{
    font-size: 30px;
}
#hr__footer{
    border-top: 3px solid rgba(255, 255, 255, 0.592) !important;
    //border-bottom: 2px solid black;
}
