@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@200;300;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0 0;
}
body{
    background-image: linear-gradient(#faeaab,#f5daff);
    font-family: 'Source Sans Pro', sans-serif;
}

/*FONT SIZES*/
.g--font-size-18{
    font-size: 18px !important;
}
.g--font-size-20{
    font-size: 20px !important;
}
.g--font-size-22{
    font-size: 22px;
}
.g--font-size-24{
    font-size: 24px;
}
.g--font-size-26{
    font-size: 26px;
}
.g--font-size-30{
    font-size: 30px;
}
.g--font-size-55{
    font-size: 55px;
}

/*TEXT COLOR*/
.g--color-ff74fc{
    color:#ff74fc !important;
}
.g--color-b5a7a7{
    color: #b5a7a7;
}

/*BACKGROUND COLOR*/
.g--bg-yellow{
    background-color: yellow;
}
.g--bg-blue{
    background-color: blue;
}
.g--bg-red{
    background-color: red;
}
.g--bg-lightskyblue{
    background-color:  lightskyblue;
}
.g--bg-lightblue{
    background-color: lightblue;
}
.g--bg-5f6caf{
    background-color: #5f6caf;
}
.g--bg-feffdf{
    background-color: #ffa952;
}


/*BACKGROUND IMAGES*/
.g--bg-img-nature{
    background-image: url("../img/nature.jpg");
    /* background-position: bottom; */
}
.g--bg-img-newsletter{
    background-image: url(../img/source.gif);
    background-size: cover;
}
.g--bg-img-form{
    background-image: linear-gradient(rgba(205, 7, 236, 0.37), rgba(41, 242, 219, 0.423)), url(assets/img/formBear.jpg);
    background-size: cover;
    border: 6px solid;
}
.g--bg-newsletter{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../img/backend-newsletter.jpg);
    background-size: cover;
}
.g--bg-dashboard{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../img/backend-dashboard.jpg);
    background-size: cover;
}
.g--bg-content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../img/backend-content.jpg);
    background-size: cover;
}

/*BORDERS*/
.g--border-white{
    border: 1.5px solid white;
} 
.g--border-black{
    border: 1.5px solid black;
} 
/* .g--border-black{
    border: 2px solid black;
}
.g--border-white{
    border: 2px solid white;
} */
.g--border-grey{
    border: 2px solid grey;
}
.g--border-inset{
    border: 6px inset;
}
.g--border-bottom-white{
    border-bottom: 2px solid white;
}
.g--border-bottom-grey{
    border-bottom: 2px solid grey;
}
.g--border-right-white-5{
    border-right: 5px solid white;
}

/*WIDTH AND HEIGHT*/
.g--max-width-1440{
    max-width: 1440px;
}
.g-width-100x{
    width: 100%;
}
.g--width-180{
    width: 180px;
}
.g--width-230{
    width: 230px;
}
.g--width-240{
    width: 240px;
}
.g--width-250{
    width: 250px;
}
.g--width-270{
    width: 270px;
}
.g--width-290{
    width: 290px;
}
.g--width-415{
    width: 100%;
}
.g--height-5vh{
    height: 5vh;
}
.g--height-40{
    height: 40px !important;
}
.g--height-50{
    height: 50px !important;
}
.g--min-height-50{
    min-height: 50px !important;
}
.g--height-70{
    height: 70px !important;
}
.g--height-80{
    height: 80px;
}
.g--height-233{
    height: 220.5px;
}
.g--height-440{
    height: 440px;
}
.g--height-550{
    height: 550px;
}



/*HOVER*/
.g-hover-btn-white :hover{
    background-color: black;
    color: white;
}
.g--hover-btn-pink:hover{
    background-color: #ff74fc !important;
    color: white;
}
.g--hover-black-text:hover{
    color: black !important;
}
.g--hover-black-pink:hover{
    color: #ff74fc !important;
}
.g--hover-white-text:hover{
    color: white !important;
}
.g--hover-lightskyblue-text:hover{
    color: lightskyblue !important;
}
.g--hover-bg-black:hover{
    background-color: black !important;
}

/*TEXT ALIGN*/
.g--text-justify{
    text-align: justify;
}





.card__title{
    text-align: center;
    color:#ff74fc;
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.g--font-family-workSans{
    font-family: 'Work Sans', sans-serif;
}
.g--shadow-img{
    box-shadow: 3px 3px 6px;
}
.g--shadow-question{
    box-shadow: 5px 5px 6px;
}
.g--question-title-style{
    font-size: 2.6rem;
    font-weight: 700;
    background: linear-gradient(#86ff58,#0501ff);
    -webkit-background-clip: text;
    color: transparent;
}




/* wjswkm */
.question__p{
    margin: 0 33px;
    font-size: 1.688rem;
    font-weight: 600;
}
.radio{   /***** Vicent perdona por poner porcentajes aqui :'(   *****/
    margin-top: 4%;
    margin-left: 8%;
}
.label{
    font-size: 1.313rem;
    margin-left: 7px;
}
/* xbwzwkzm */
.g--btn-red{
    font-size: 1.25rem;
    border: none;
}
.g--bg-red{
    background-color: red;
}
.g--btn-red2{
    display: block;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 16px;
    text-align: center;
    font-size: 0.813rem;

}


.g--fw-600{
    font-weight: 600;
}
.g--hr-custom{
    opacity: 1;
    height: 6px;
    border:none;
}


.g-width-55x{
    width: 55%;
  }
.g--margin-left-330{
    margin-left: 330px;
}
  /*MEDIA*/
  @media (max-width: 992px) {
    .g-width-55x{
    width: 100%;
  }
  .g--margin-left-330{
    margin-left: 0px;
    padding:30px 20px;
    background-image: url(../img/mountain.jpg);
    background-size: cover;
  }
}


/*SWIPER-SLIDE*/
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }






