@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Source+Sans+Pro:wght@400;600;700&family=Work+Sans:wght@200;300;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0 0;
}
body{
    background-image: linear-gradient(#faeaab,#f5daff);
    font-family: 'Source Sans Pro', sans-serif;
}


.g--bg-img-nature{
    background-image: url("../img/nature.jpg");
    background-position: bottom;
}
.g--bg-img-manosArriba{
    background-image: url("../img/manosArriba.png");
    background-size: cover;
}





.g--height-80{
    height: 80px;
}
.g--max-width-1440{
    max-width: 1440px;
}
.g--width-250{
    width: 250px;
}
.g--width-180{
    width: 180px;
}
.g--width-240{
    width: 240px;
}
.g--border-bottom-white{
    border-bottom: 2px solid white;
}
.g--border-white{
    border: 1.5px solid white;
}
.g--margin-left-330{
    margin-left: 330px;
}
.g--font-size-regular{
    font-size: 1.313rem;
}
.g--text-justify{
    text-align: justify;
}
.g-width-100x{
    width: 100%;
}



.g--border-black{
    border: 1.5px solid black;
}



.card__title{
    text-align: center;
    color:#ff74fc;
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.g--text-color-ff74fc{
    color:#ff74fc;
}
.g--font-family-workSans{
    font-family: 'Work Sans', sans-serif;
}
.g--shadow-img{
    box-shadow: 3px 3px 6px;
}
.g--shadow-question{
    box-shadow: 5px 5px 6px;
}
.g--question-title-style{
    font-size: 2.6rem;
    font-weight: 700;
    background: linear-gradient(#86ff58,#0501ff);
    -webkit-background-clip: text;
    color: transparent;
}

.g--width-415{
    width: 100%;
}
.g--height-233{
    height: 220.5px;
}




/* wjswkm */
.question__p{
    margin: 0 33px;
    font-size: 1.688rem;
    font-weight: 600;
}
.radio{   /***** Vicent perdona por poner porcentajes aqui :'(   *****/
    margin-top: 4%;
    margin-left: 8%;
}
.label{
    font-size: 1.313rem;
    margin-left: 7px;
}
/* xbwzwkzm */


.g--btn-red{
    font-size: 1.25rem;
    border: none;
}
.g--bg-red{
    background-color: red;
}
.g--btn-red2{
    display: block;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 16px;
    text-align: center;
    font-size: 0.813rem;

}


