@import "variables";
@import "header";
@import "footer";

*{
    margin: 0;
    box-sizing: border-box;
}
#main,#footer,#header{
    max-width: 1440px;
    margin: auto;   
}
#body__color{
    //background-color: $body__color;
    background-image: url(../pictures/fondo-body-3.jpg);
}


//Página Inicio

.c-item{
    height: 350px;
}
.c-img{
    //width: 90vw;
    height: 100%;
    object-fit: cover;
}
.dropdown-menu{
    z-index: 10 !important;
}


//Pagina restaurante
.card{
    position: initial !important;
}

.card__restaurante{
    width: 80vw;
}
.card__restaurante__img{
    height: 200px;
    padding: 15 20px;
    object-fit: cover;
}

.containerRegister{
    background-color: rgb(114, 145, 126);
    padding: 10px;
    border-radius: 5px;
}
h1{
    text-align: center;
}

/*  ESTILO DE CATEGORIA  */

.card{
    background-color: #d66161;
    border: 1px black;
}



/* ESTILOS DEL REGISTRO */
.containerRegister {
    //background-color: rgb(114, 145, 126);
    padding: 30px 40px;
    width: 55vw;
    margin: auto;
    background-image: url(../pictures/imagen-formulario-2.jpg) !important;
    background-size: cover;
    border: 4px solid black;
    color: white;
}

h1 {
    text-align: center;
    padding-bottom: 15px;
}

.form-control {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    letter-spacing: 1px;
}

.fieldset {
    border: 4px solid;
    margin: auto;
    padding: 30px 40px;
}

.btn-primary{
    background: rgb(104, 29, 29);
    color: #fcfcfc;
    font-weight: bold;
    padding: 6px 7px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .btn-primary:hover {
    color: #fff; /* color de fuente hover */
  }
  .btn-primary::after {
    content: "";
    background: #18221b; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-primary:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

/*  ESTILO RESPONSIVO REGISTRO  */



//Paginas Genericas
#secondaryIndex{
    background-color: rgba(246, 239, 239, 0.711);
}
.imagenTexto{
    height: 450px;
    background-image: linear-gradient(rgba(219, 141, 46, 0.373), rgba(205, 247, 52, 0.247)), url(../pictures/quienesSomos.jpg);
    background-size: cover;
    background-attachment: fixed;
    h1{
        font-size: 5.7rem;
        color: white;
        text-align: center;
        line-height: 310px;
    }
}
.secondaryText{
    .st1{
        font-size: 1.7rem;
        text-align: justify;
    }
    .st2{
        height: 95vh;
        background-image: url("../pictures/st2.jpg");
        background-size: cover;
    }
    .st3{
        font-size: 1.1rem;
        text-align: justify;
    }
}
.secondaryTextEnd{
    width: 75vw;
    margin: auto;
    border: 10px ridge  grey;
    background-color: rgba(167, 157, 157, 0.65);
    font-size: 1.3rem;
}
#usoCookies{
    background-image: linear-gradient(rgba(205, 7, 236, 0.37), rgba(41, 242, 219, 0.423)), url(../pictures/cookies.jpg);
    box-shadow: 6px 2px 2px rgba(0, 0, 0, 0.531);
}
.introduction_photo{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.introduction_p{
    background-image: linear-gradient(rgba(241, 159, 252, 0.37), rgba(118, 123, 29, 0.423));

}
#mapaSitio{
    background-color: aliceblue;
}

.imagenTextoFAQs{
    height: 250px;
    background-image: linear-gradient(rgba(219, 141, 46, 0.373), rgba(205, 247, 52, 0.247)), url(../pictures/edificios.jpg);
    background-size: cover;
    background-attachment: fixed;
    h1{
        font-size: 5.7rem;
        color: white;
        text-align: center;
        line-height: 200px;
    }

}


//hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
#administrador{
    height: 100%!important; /* Full-height: remove this if you want "auto" height */
    width: 290px !important; /* Set the width of the sidebar */
    position: fixed !important; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10 !important; /* Stay on top */
    top: 0 !important; /* Stay at the top */
    left: 0 !important;
    background-color: rgb(17, 17, 17)!important; /* Black */
    overflow-x: hidden!important; /* Disable horizontal scroll */
    padding-top: 30px!important;
    //position: absolute !important;
    //top:0 !important;
    //z-index: 10 !important;

}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(17, 17, 17); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 46px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #a504b4;
  }
  

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) 
  @media screen and (max-height: 450px) {
    
  }*/



//Pagina blog

.container-blog{
    background-color: rgba(255, 255, 255, 0.603);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}
.card__blog__img{
    height: 200px;
    padding: 15 20px;
    margin-top: 50px;
    object-fit: cover;
}
.blog-sveiki{
    margin: 40px 40px;
    background-color: #5463c4;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    h5{
        margin-top: 15px;
        margin-bottom: 25px;
    }
    label{ color:rgb(255, 255, 255);}
    input[type = "radio"]{ display:none;}
    .clasificacion{
        direction: rtl;/* right to left */
        unicode-bidi: bidi-override;/* bidi de bidireccional */
    }
    label:hover{color:orange;}
    label:hover ~ label{color:orange;}
    input[type = "radio"]:checked ~ label{color:orange;}
}
//Pagina inicio de sesion

.container-inicio{
    background-color: rgb(221, 221, 221);
    margin: auto;
    height: 50%;
}

.btn-inicio{
    border: 1px solid black;
    background: rgb(104, 29, 29);
    color: #fcfcfc;
    font-weight: bold;
    padding: 6px 7px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.black{
    background-color: #000000b2;
}

.row-inicio{
    margin-left: 40px;
    margin-right: 40px;
}

.imagen-inicio{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    width: 20vw;
    margin: auto;
}


/*  ESTILO DE CATEGORIA  */

.card{
    background-color: #d66161;
    border: 1px black;
}

.card-category{
    margin-bottom: 20px;
}



.btn-flotante {
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	background-color: #1c259e91; /* Color de fondo */
	padding: 10px 10px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}







@media (max-width: 576px){
    #main{
        .px-5{
            padding: 0 !important;
        }
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}





    .c-item{
        height: 200px;
    }
    .c-img{
        //width: 90vw;
        height: 100%;
        object-fit: cover;
    }

    //Paginas Genericas
    #secondaryIndex{
        background-color: rgba(246, 239, 239, 0.711);
        font-size: 1.3rem !important;
        margin-bottom: 0 !important;
        padding: 4px 8px !important;
    }
    .imagenTexto{
        height: 180px;
        background-image: linear-gradient(rgba(219, 141, 46, 0.373), rgba(205, 247, 52, 0.247)), url(../pictures/quienesSomos.jpg);
        background-attachment:scroll;
        h1{
            font-size: 2.8rem;
            line-height: 85px;
        }
    }
    .my-4{
        margin: 0;
    }
    .secondaryText{
        margin-top: 10px;
        .px-5{
            font-size: 1.3rem;
            letter-spacing: 0.5px;
            .pe-4{
                font-size: 1.1rem !important;
                text-align: justify;
                padding-bottom: 12px !important;
            }
        }
        .st2{
            height: 60vh;
            background-image: url("../pictures/st2.2.jpg");
        }
        .st3{
            font-size: 1.1rem;
            text-align: justify;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
    .imagenTextoFAQs{
        height: 220px !important;
        background-image: linear-gradient(rgba(214, 29, 131, 0.373), rgba(24, 155, 215, 0.247)), url(../pictures/computer.jpg) !important;
        h1{
            font-size: 2.2rem !important;
            line-height: 120px!important;
        }
    }

    .introduction_p_background{
        background-image: linear-gradient(rgba(29, 143, 214, 0.101), rgba(110, 215, 24, 0.148)), url(../pictures/introduction_photo.jpg) !important;
        background-size: cover;
    }
    .white__title{
        color: white;
        #white__p{
            color: white !important;
        }
    }













    .containerRegister {
        margin-top: 20px  !important;
        margin-bottom: 20px !important;
        width: 90vw;
        padding: 9px 9px;
        margin: auto;
        background-color: rgb(62, 102, 121);
        background-image: none !important;
        color: white;
    }
    .fieldset {
        border: none !important;
        margin: auto;
        padding: 5px 5px;
    }
    .btn-primary{
        width: 40vw !important;
        background: rgb(117, 159, 207);
        color: #fcfcfc;
        font-weight: bold;
        border-radius: 5px;
      }
      .btn-primary:hover {
        color: #fff; /* color de fuente hover */
      }
      .btn-primary::after {
        content: "";
        background: #223363; /* color de fondo hover */
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 100%;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
      }
      .btn-primary:hover::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
      }

    #logo{
        position: relative;
        left: -40;
        top: 0;
    }



    //Pagina inicio de sesion

.container-inicio{
    width: 70vw;
    background-color: #1b2747d8;
    color: white;
}

//Pagina Blog

.blog-sveiki{
    background-color: #192546 !important;
    color: rgb(255, 255, 255);
}

.card{
    background-color: #132131;
    color: white;
}

    

}
@media (max-width: 991px){

    
    //Pagina Sobre nosotros
    #secondaryIndex{
        background-color: rgba(246, 239, 239, 0.711);
        font-size: 1.3rem !important;
        margin-bottom: 0 !important;
        padding: 4px 8px !important;
    }
   
    
    
    .imagenTexto{
        height: 300px;
        background-image: linear-gradient(rgba(219, 141, 46, 0.373), rgba(205, 247, 52, 0.247)), url(../pictures/quienesSomos.jpg);
        background-attachment:scroll;
        h1{
            font-size: 5rem;
            line-height: 185px;
        }
    }
    .my-4{
        margin: 0;
    }
    .secondaryText{
        margin-top: 10px;
        .pt-5,.px-5{
            font-size: 1.3rem;
            letter-spacing: 0.5px;
            .pe-4{
                font-size: 1.1rem;
                padding-bottom: 20px;
            }
        }
        .st2{
            height: 75vh;
            background-image: url("../pictures/st2.2.jpg");
        }
        .st3{
            font-size: 1.1rem;
            text-align: justify;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        .ps-5{
            padding-left: 15px !important;
        }
    }
    .secondaryTextEnd{
        width: 100%;
        border: 10px double  rgb(0, 0, 0);
        padding: 15px 5px;
    }
    .imagenTextoFAQs{
        height: 300px;
        background-image: linear-gradient(rgba(46, 112, 219, 0.373), rgba(32, 180, 39, 0.247)), url(../pictures/data.jpg);
        background-attachment: scroll;
        h1{
            font-size: 4rem;
            line-height: 190px;
        }
    }
    .introduction_photo{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }



    //maria

    .container-inicio{
        width: 60vw;
    }
    
    .blog-sveiki{
        padding-left: 30px;
        background-color: #3c5397;
    }




}